html, body {
    font-family: "proxima-nova",sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 300;
    color: #666666;
    background: #ffffff url('../imagens/bg.png');
}
.lay-barra {
    height: 20px;
    background: url('../imagens/bg_barra_repeat.png') repeat-x;
}
.lay-all {
    background: url('../imagens/bg_all_top.png') repeat-x;
}
.lay-site-shadow {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    background: url('../imagens/bg_site_shadow.png') no-repeat top;
}
.lay-site {
    background: #ffffff url('../imagens/bg_site_top.png') repeat-x;
}
.lay-header {
    height: 230px;
    padding-left: 25px;
    padding-right: 25px;
    background: url('../imagens/bg_header_bottom.png') no-repeat center bottom;
}
.lay-main-bg {
    background: url('../imagens/bg_main_repeat.png') repeat-y;
}