asn1crypto==0.24.0
Click==7.0
configparser==3.5.0b2
cryptography==2.3
Django==1.11.21
djangorestframework==3.9.4
dnspython==1.16.0
entrypoints==0.3
enum34==1.1.6
Flask==1.1.0
Flask-Cors==3.0.8
idna==2.6
include==0.2.2
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.1
keyring==17.1.1
keyrings.alt==3.1.1
Markdown==3.1.1
MarkupSafe==1.1.1
pycrypto==2.6.1
PyGObject==3.32.0
pymongo==3.8.0
pyOpenSSL==19.0.0
python-dateutil==2.8.0
pytz==2019.1
pyxdg==0.25
SecretStorage==2.3.1
six==1.12.0
Werkzeug==0.15.4
