
i{
        margin-left: 10px;
}

.sidebar{
        background-color: #FCFCFC;
        border-right: 1px solid #f1f1f1;
}

.sidebar-header{
        text-align: center;
        padding-top: 15px;
        padding-bottom: 25px;
        border-bottom: 1px solid #ccc;
}

.list-group-item{
        background-color: #FCFCFC;
        border: none;
        text-align: center;
}

.main_head{
        padding-left: 20px;
        padding-right: 20px;
}

.btn-head{
        padding: 15px;
        margin-right: 20px;
        color: #141414;
        background-color: #eee;
        border-radius: 0;
        border: none
}

.btn-main{
        color: whitesmoke;
        background-color: crimson;
}

.mapa_dashboard{
        width: 600px;
        height: 200px;
        padding-top: 20px;
        padding-left: 20px;
}